body, html{
  height: 100%;
  width: 100%;
}

.board{
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 0;
}

.aboveBoardSection{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
